.wrapper{
    display:flex;
    height:auto;
    width:80vw;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction: column;
    gap:20px;
    background:white
}

.accordian{
    width: 500px;
}

.wrapper button{
    margin-top:10px;
    background:#614101;
}



.item{
    background:#614101;
    margin-bottom:10px;
    padding: 10px 20px;
}

.title{
    color:#ffffff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}

.content{
    color:#ffffff;
    height:auto;
}